body {
    cursor: crosshair;
    /*background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/6226668/large_412884df0e1b8889b4464ea259addf1d.jpg?1582152805?bc=0");
    */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}



.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1{

    color: blue;
    display: inline-block;
    position: relative;
    top: 1px;
    font-family: 'Nova Mono', monospace;
    font-size: 2.5vw;
    }








    h3 {
        background-color: black;
        opacity: 80% ;
        color: blue;
        display: inline-block;
        position: absolute;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        left: 3%;
        font-family: 'Nova Mono', monospace;
        font-size: 1.3vw;
        text-decoration: underline;
        }
/*
h1:hover + h2{
  display: inline;
}
*/
.row {

position: inherit;
float: right;
/*width: 33.33%;*/
background-color: white;
padding-top:  1px;
padding-left:  3px;
padding-right:  3px;
position: absolute;
bottom: 10px;
right: 10px;
}

/* Clear floats after the columns */
/*.row:after {
content: "";
display: table;
clear: both;
}
*/
@media screen and (max-width: 600px) {

 background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/5370007/original_852cadf6ccc2d6af0dc52dfe9eb9efc8.png?1572364834?bc=0");
 background-size: contain;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
};
   
}


.column {
  width: 100%;
}
}
